<footer class="relative bg-slate-900 dark:bg-slate-800">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="relative py-12">
                <!-- Subscribe -->
                <div class="relative w-full">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="md:col-span-3">
                            <a routerLink="/" class="flex justify-center md:justify-start focus:outline-none">
                                <img src="assets/images/logo-white.png" class="h-[40px]" alt="">
                            </a>
                        </div><!--end col-->

                        <div class="md:col-span-9">
                            <ul class="list-disc footer-list md:text-end text-center space-x-3">
                                <li class="inline-block"><a routerLink="/" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Hem</a></li>
                                <li class="inline-block mt-[10px] md:mt-0"><a routerLink="/services" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Hur det fungerar</a></li>
                                <!-- <li class="inline-block mt-[10px] md:mt-0"><a href="#" (click)="$event.preventDefault()" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Create a job</a></li> -->
                                <li class="inline-block mt-[10px] md:mt-0"><a routerLink="/aboutus" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Om oss</a></li>
                                <li class="inline-block mt-[10px] md:mt-0"><a routerLink="/contact" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Kontakta oss</a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                    </div><!--end grid-->
                </div>
                <!-- Subscribe -->
            </div>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center gap-6">
                <div class="md:text-start text-center">
                    <p class="mb-0 text-gray-300 font-medium">© {{date}} ABC Jobb Coacher. Developed by  <a href="https://instagram.com/jonatlsun" target="_blank" class="text-reset">Adoteam</a>.</p>
                </div>

                <ul class="list-none md:text-end text-center">
                    <li class="inline mx-[2px]"><a href="https://www.instagram.com/jonatlsun" target="_blank" class="size-8 inline-flex items-center text-center justify-center text-base font-semibold tracking-wide align-middle transition duration-500 ease-in-out border-2 border-gray-800 dark:border-gray-700 rounded-md hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary text-white"><i class="uil uil-linkedin" title="Linkedin"></i></a></li>
                    <li class="inline mx-[2px]"><a href="https://www.instagram.com/jonatlsun" target="_blank" class="size-8 inline-flex items-center text-center justify-center text-base font-semibold tracking-wide align-middle transition duration-500 ease-in-out border-2 border-gray-800 dark:border-gray-700 rounded-md hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary text-white"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                    <li class="inline mx-[2px]"><a href="https://www.instagram.com/jonatlsun" target="_blank" class="size-8 inline-flex items-center text-center justify-center text-base font-semibold tracking-wide align-middle transition duration-500 ease-in-out border-2 border-gray-800 dark:border-gray-700 rounded-md hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary text-white"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                    <li class="inline mx-[2px]"><a href="https://www.instagram.com/jonatlsun" target="_blank" class="size-8 inline-flex items-center text-center justify-center text-base font-semibold tracking-wide align-middle transition duration-500 ease-in-out border-2 border-gray-800 dark:border-gray-700 rounded-md hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary text-white"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                    <li class="inline mx-[2px]"><a href="mailto:jona@adoteam.dev" class="size-8 inline-flex items-center text-center justify-center text-base font-semibold tracking-wide align-middle transition duration-500 ease-in-out border-2 border-gray-800 dark:border-gray-700 rounded-md hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary text-white"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                </ul><!--end icon-->
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer>
